.top-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.top-bar .logo {
  display: block;
  background-image: url(https://t1.kakaocdn.net/impact/newImpact/svg/logo_kakaoimpact.svg);
  background-position: center center;
  width: 132px;
  height: 22px;
}

.top-bar__menu-1 > ul > li a {
  display: flex;
  height: 100%;
  align-items: center;
  padding-inline: 20px;
}

.top-bar__buttons {
  display: flex;
  gap: 0 15px;
}
.top-bar__buttons button {
  width: 26px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.top-bar__buttons .btn-mode {
  background-image: url(https://t1.kakaocdn.net/impact/newImpact/svg/ico_dark.svg);
}
.top-bar__buttons .menu-btn {
  background-image: url(https://t1.kakaocdn.net/impact/newImpact/svg/ico_menu.svg);
}

.depth2-box {
  display: none;
}